<div>
      <style type="text/css" media="screen">
        .gr_grid_container {
          /* customize grid container div here. eg: width: 500px; */
        }

        .gr_grid_book_container {
          /* customize book cover container div here */
          float: left;
          width: 39px;
          height: 60px;
          padding: 0px 0px;
          overflow: hidden;
        }
      </style>
      <div id="gr_grid_widget_1495493239">
        <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
            <h2>
      <a style="text-decoration: none;" href="https://www.goodreads.com/review/list/5881776-dusan-stankovic?shelf=read&utm_medium=api&utm_source=grid_widget">Dušan's books</a>
    </h2>
  <div class="gr_grid_container">
    <div class="gr_grid_book_container"><a title="Siddhartha" href="https://www.goodreads.com/book/show/52036.Siddhartha"><img alt="Siddhartha" border="0" src="https://images.gr-assets.com/books/1428715580s/52036.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Demian. Die Geschichte von Emil Sinclairs Jugend" href="https://www.goodreads.com/book/show/24861.Demian_Die_Geschichte_von_Emil_Sinclairs_Jugend"><img alt="Demian. Die Geschichte von Emil Sinclairs Jugend" border="0" src="https://images.gr-assets.com/books/1421510580s/24861.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Narcissus and Goldmund" href="https://www.goodreads.com/book/show/5954.Narcissus_and_Goldmund"><img alt="Narcissus and Goldmund" border="0" src="https://images.gr-assets.com/books/1374680750s/5954.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Women: A Novel" href="https://www.goodreads.com/book/show/9659451-women"><img alt="Women: A Novel" border="0" src="https://images.gr-assets.com/books/1408311213s/9659451.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Ham on Rye" href="https://www.goodreads.com/book/show/38501.Ham_on_Rye"><img alt="Ham on Rye" border="0" src="https://images.gr-assets.com/books/1388195001s/38501.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Golden City (Fourth Realm, #3)" href="https://www.goodreads.com/book/show/5986637-the-golden-city"><img alt="The Golden City" border="0" src="https://images.gr-assets.com/books/1320487636s/5986637.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Dark River (Fourth Realm, #2)" href="https://www.goodreads.com/book/show/1262341.The_Dark_River"><img alt="The Dark River" border="0" src="https://images.gr-assets.com/books/1320393047s/1262341.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Traveler (Fourth Realm, #1)" href="https://www.goodreads.com/book/show/80754.The_Traveler"><img alt="The Traveler" border="0" src="https://images.gr-assets.com/books/1388542043s/80754.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Dictionary of the Khazars (Male Edition)" href="https://www.goodreads.com/book/show/321566.Dictionary_of_the_Khazars"><img alt="Dictionary of the Khazars" border="0" src="https://images.gr-assets.com/books/1320461994s/321566.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Old Man and the Sea" href="https://www.goodreads.com/book/show/2165.The_Old_Man_and_the_Sea"><img alt="The Old Man and the Sea" border="0" src="https://images.gr-assets.com/books/1329189714s/2165.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Kite Runner" href="https://www.goodreads.com/book/show/77203.The_Kite_Runner"><img alt="The Kite Runner" border="0" src="https://images.gr-assets.com/books/1484565687s/77203.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Stranger" href="https://www.goodreads.com/book/show/49552.The_Stranger"><img alt="The Stranger" border="0" src="https://images.gr-assets.com/books/1349927872s/49552.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="La calle de los sueños" href="https://www.goodreads.com/book/show/11888629-la-calle-de-los-sue-os"><img alt="La calle de los sueños" border="0" src="https://images.gr-assets.com/books/1309438824s/11888629.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Konstantinovo raskršće" href="https://www.goodreads.com/book/show/7486378-konstantinovo-raskr-e"><img alt="Konstantinovo raskršće" border="0" src="https://images.gr-assets.com/books/1327248148s/7486378.jpg" /></a></div>
  <noscript><br/>Share <a href="/">book reviews</a> and ratings with Dusan, and even join a <a href="/group">book club</a> on Goodreads.</noscript>
  </div>

      </div>
      <script src="https://www.goodreads.com/review/grid_widget/5881776.Du%C5%A1an's%20books?cover_size=small&hide_link=true&hide_title=&num_books=14&order=a&shelf=read&sort=date_added&widget_id=1495493239" type="text/javascript" charset="utf-8"></script>
</div>